@{
    ViewData["Index"] = "Deed - index";

}




<div class="hidden1">
    <h1>Your Hidden Superpower is.......</h1>
</div>

<div class="hidden2">
    <h1>KINDNESS</h1>
</div>

<div class="hidden3">
    <h2>I can here you say: "Your kidding right?"</h2>
</div>

<div class="hidden4">
    <h1>Lets talk about how your kindness can change the world!</h1>
</div>


<div class="hidden5">
    
</div>


    
