@{
    ViewData["Index"] = "Deed - index";

}
@using MessageBoard.Controllers;


<script type="text/javascript">

    $(document).ready(function () {
        setInterval(function () {


            $.ajax({

                url: '@Url.Action("RandomDeedSelector")',
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (result) {
                    var stringResult = '<ul>';
                    for (var i = 0; i < result.length; i++) {
                        stringResult += '<li>' + result[i].text + '</li>';
                    }
                    stringResult += '</ul>';
                    $('#result1').html(stringResult);

                }
            });
        }, 30000);

    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        setInterval(function () {


            $.ajax({

                url: "https://healthruwords.p.mashape.com/v1/quotes/?maxR=1&size=medium&=Compassion",
                headers: {"X-Mashape-Key": "Esxwj8BloqmshFOoZ9PVKWyJWiaXp1k3RkCjsniZTL58yEyCvr",  "Accept": "application/json"},                            type: 'GET',
            data: $(this).serialize(),
            dataType: 'json',
            success: function (result) {
                var stringResult = '<ul>';
                for (var i = 0; i < result.length; i++) {
                    stringResult += '<li>' + result[i].author + result[i].title + '<img src= "result[i].media">' + '</li>';
                    
                }
                stringResult += '</ul>';
                $('#result2').html(stringResult);

            }
        });
    }, 30000);

    });
</script>






        <p>Using Ajax to make a GET request for a random deed.</p>
        <div id="result1"> </div>

        <p>Api call for random inspirational quote.</p>
        <div id="result2"></div>





   

