body {
    background-image: url("https://j.gifs.com/jR1XWl.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    font-family: 'David Libre', serif;
    margin-top: 75px;
    
}

h2{
    color: white;

}

.ghost-button-full-color {
    font-family: 'David Libre', serif;
    width: 500px;
    padding: 8px;
    color: #fff;
    background-color: transparent;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}

    .ghost-button-full-color:hover,
    .ghost-button-full-color:active {
        text-shadow: 0px 0px 28px #ebdfeb;
        -webkit-box-shadow: 3px 0px 30px #300c30;
        -moz-box-shadow: 3px 0px 30px #300c30;
        box-shadow: 3px 0px 30px #300c30;
        color: #fff;
        transition: color 0.5s ease-in, background-color 0.5s ease-in, border-color 0.5s ease-in;
    }

.navbar-custom {
    padding: 15px 15px;
    height: 80px;
    border: none;
    background-color: #120E06;
    font-family: 'Audiowide', cursive;
}


.navbar-default .navbar-brand {
    font-size: 3em;
    /*background-color: black;
  color: #4A0F0F;*/
}

li {
    font-family: 'David Libre', serif;
    font-size: 2em;
    color: white;
}

.form-group {
    width: 50%;
}

.cool {
    margin-right: 10%;
    color: white;
    font-family: 'David Libre', serif;
}

.cool2 {
    font-family: 'David Libre', serif;
    font-size: 2em;
    color: white;
}

.small {
    font-family: 'David Libre', serif;
    color: grey;
    font: 100px;
}

.btn-custom {
  background-color: hsl(16, 14%, 11%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9958d", endColorstr="#1f1a18");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a9958d), to(#1f1a18));
  background-image: -moz-linear-gradient(top, #a9958d, #1f1a18);
  background-image: -ms-linear-gradient(top, #a9958d, #1f1a18);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9958d), color-stop(100%, #1f1a18));
  background-image: -webkit-linear-gradient(top, #a9958d, #1f1a18);
  background-image: -o-linear-gradient(top, #a9958d, #1f1a18);
  background-image: linear-gradient(#a9958d, #1f1a18);
  border-color: #1f1a18 #1f1a18 hsl(16, 14%, -1.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.82);
  -webkit-font-smoothing: antialiased;
}

.start {
    text-align: center;
     background-image: url("https://j.gifs.com/jR1XWl.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.hidden1
{
    display: none;
}

.hidden2
{
    display: none;
}

.hidden3
{
    display: none;
}
.hidden4
{
    display: none;
}

.hidden5
{
    display: none;
}

p{
    color: white;
}

.sides {
    margin: 5px 20px 5px 20px;
    font-size: 1.5em;
    font-family:'David Libre', serif;
}

