@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h2>Welcome to the To the message board!</h2>
</body>
</html>
