@{
    ViewData["Title"] = "Message Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MessageBoard.Models.Post>


<h2>Post:</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.Author)</h4>
<ul>
    @foreach (var listItem in Model)
    {
        <li>@Html.DisplayFor(modelItem => listItem.Author) | @Html.ActionLink("Details", "Details", new { id = listItem.PostId })</li>
    }
</ul>
